<!DOCTYPE html>
<html ng-app="nexbus">
<head>
  <title>NUS NexBus</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <%= favicon_link_tag %>
  <%= favicon_link_tag 'apple-touch-icon-white.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '192x192' %>
  <%= favicon_link_tag 'apple-touch-startup-image-1242x2148.png', rel: 'apple-touch-startup-image',
      media: '(device-width: 414px) and
          (device-height: 736px) and
          (-webkit-device-pixel-ratio: 3) and
          (orientation: landscape)' %>
  <%= favicon_link_tag 'apple-touch-startup-image-750x1294.png', rel:'apple-touch-startup-image',
      media: '(device-width: 375px) and
              (device-height: 667px) and
              (-webkit-device-pixel-ratio: 2)' %>
  <%= favicon_link_tag 'apple-touch-startup-image-640x1096.png', rel: 'apple-touch-startup-image',
      media: '(device-width: 320px) and
              (device-height: 568px) and
              (-webkit-device-pixel-ratio: 2)' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
